* {
    border: none;
    padding: none;
}

#root {
    z-index: 100;
}

#root>* {
    position: absolute;
}

#top {
    position: fixed;
    background: top rgb();
    width: 100%;
    height: 50px;
}

#icon {
    background: url();
}

#container>* {
    position: relative;
}

#firstboard {
    background: center center;
}